/* Asterisks wildcard selector to override default styles add to the browser */
/* Add box-sizing = border-box so when applying height
and width it includes padding and border */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: lightcoral ;
}

main {
    background-color: lightblue;
}

footer {
    background-color: orange;
}

