/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* Oswald CSS class for a variable style 
<weight>: Use a value from 200 to 700
  .oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Lato CSS class for a specific weight style
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
} */


/* Asterisks wildcard selector to override default styles add to the browser */
/* Add box-sizing = border-box so when applying height
and width it includes padding and border */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project style */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
  
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a
}

header a {
    text-decoration: none;
    color: inherit;
    
}

#menu {
    list-style-type: none;
    font-size: 110%;   
    letter-spacing: 4px;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

main {
    background-color: lightblue;
    /* Make the main element take all the space
    when the content is smaller than the viewport */
    flex: 1 0 auto;
}

footer {
    background-color: orange;
}

